<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Task App</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <!-- Вставляем компонент формы для создания задачи -->
    <task-form @add-task="addTask"></task-form>

    <!-- Выводим список задач -->
    <div v-if="tasks.length">
        <h2>Список задач</h2>
        <ul>
            <li v-for="(task, index) in tasks" :key="index">
                <strong>{{ task.title }}</strong>
                <p>{{ task.description }}</p>
                <p><em>Дедлайн: {{ task.deadline }}</em></p>
                <p>Status: {{ task.status }}</p>
            </li>
        </ul>
    </div>
    <div v-else>
        <p>Нет задач!</p>
    </div>
</div>

<!-- Подключаем Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>
